:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 300;
	color-scheme: light dark;
	color: #323232;
	background-color: #f5feff;
	text-rendering: optimizeLegibility;
}
